@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
*{
      font-family: "Poppins", serif;
}
#tasklist::-webkit-scrollbar{
      display:none;
}

.overflow-y-auto::-webkit-scrollbar {
      width: 8px;
    }
    
    .overflow-y-auto::-webkit-scrollbar-track {
      background: #374151; /* gray-700 */
    }
    
    .overflow-y-auto::-webkit-scrollbar-thumb {
      background: #4B5563; /* gray-600 */
      border-radius: 4px;
    }
    
    .overflow-y-auto::-webkit-scrollbar-thumb:hover {
      background: #6B7280; /* gray-500 */
    }